*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: rgb(135, 188, 215);
    width: 100%;
    height: 100vh;
    
}
.natural{
    background-color: rgb(184, 84, 127);
    width: 60%;
   padding: 15px;
   margin: auto;
   border-radius: 10px;
   position: relative;
   
}

.heading{
    text-align: center;
    /* padding-top: 18%; */
}
.colors{
    color: red;
}
#next_window{
background-color: red;
color: white;
padding: 7px 12px;
border: none;
font-size: 20px;
margin-top: 10%;
border-radius: 0px 10px 10px 0px;

}

input{
  padding: 8px 20px;
  border-radius: 10px 0px 0px 10px;
  font-size: 17px;
  border: none;
}
/* .flip-card-front{
    width: 200px;
    height: 300px;
   
} */

.flip-card-front img{
    /* width: 100%;
    height: 100%; */
    margin: 10px;
    border-radius: 10px;
   
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#chenge_disply{
    display: none;
  
}


.flip-card-inner{
    width: 140px;
    height: 155px;
}

.flip-card-inner img{
    width: 100%;
    height: 100%;
}




.flip-card {
    background-color: transparent;
    width: 180px;
    height: 165px;
    perspective: 1000px;
   
  }
  
  .flip-card-inner {
    position: relative;
    /* width: 100%;
    height: 100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
  }
  
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  /* .flip-card-front {
    background-color: #bbb;
    color: black;
  } */
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }


.timer h4{
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;

  /* padding: 20px; */
}

.click h4{
  height: 50px;
  background-color: white;
  width: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid black;
}
#gameOver{
color: white;

font-size: 30px;
display: none;
text-align: center;
margin-top: 30px;
}

.score h4{
  height: 50px;
  width: 50px; 
   background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid black;
}
.timer{
  position: absolute;
  top: 20px;
  right: 7px;
}

.click{
  position: absolute;
  top: 100px;
  right: 7px;
}

.score{
  position: absolute;
  top: 180px;
  right: 7px;
}


